<div class="w-4/12 m-auto">
  <p class="mt-32">
    <b>Zurf</b> is a file-sharing based shadow library website for scholarly journal articles, academic and general-interest books, images, comics, and magazines. In part, the site enables free access to content that is otherwise paywalled or not digitized elsewhere</p>
</div>
